<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/resources/pwa/manifest.json">
    <link rel="icon" href="/resources/images/icons/icon-192x192.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/app/css/style.css">
    <% if (customCSS) { %>
        <link rel="stylesheet" href="<%= customCSS %>">
    <% } %>
    <title><%= title %></title>
</head>
<body>
    <div id="app">
        <!-- Aqui será injetado o conteúdo específico de cada página -->
        <%- body %>
    </div>
    <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/resources/app/js/service-worker.js"></script>
    <script src="/resources/app/js/socket-client.js" type="module"></script>
    <% if (customJS) { %>
        <script src="<%= customJS %>" type="module"></script>
    <% } %>
</body>
</html>