<div id="container-socket">
    <h1>Socket.io Test</h1>
    <div id="messages"></div>
    <div id="inputAction">
        <input type="text" id="input_message" placeholder="Type a message...">
        <button id="sendButton">Send</button>
        <select id="switchRoom">
            <option value="room_1" selected>Room 1</option>
            <option value="room_2">Room 2</option>
            <option value="room_3">Room 3</option>
        </select>
    </div>
</div>